# --- WordPress core (never track)
../wp-admin/
../wp-includes/
../wp-config.php
../wp-config-sample.php
../index.php

# --- Big/generated stuff
uploads/
cache/
upgrade/
ai1wm-backups/
backups*/
autoptimize_*/
wpallimport/
ewww/
*.log
*.sql
*.zip
*.tar
*.tar.gz
.DS_Store

# --- ACF JSON (skip the folder and any .gitkeep)
acf-json/
**/.gitkeep

# --- Plugins: ignore EVERYTHING
plugins/

# --- Themes: ignore all, allow ONLY awi-revamped
themes/*
!themes/awi-revamped/

# --- Also ignore default WP themes if present (belt & suspenders)
themes/twentytwenty*/
themes/twentytwentythree/
themes/twentytwentyfour/
themes/twentytwentyfive/

# --- Misc
node_modules/
vendor/
.env
/wflogs
autoptimize_404_handler.php
index.php
wp-cache-config.php

themes/awi-revamped/_notes/
themes/awi-revamped/**/dwsync.xml
mu-plugins/wpsynchro-mu-plugin-compat.php
