/* ===================================================== *\
 * ----------------------------------------------------- *
 *  Fonts - $$fonts
 * ----------------------------------------------------- *
\* ===================================================== */

@font-face
{
    font-family: 'Oxygen';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/oxygen-bold-webfont.woff2') format('woff2'), url('../fonts/oxygen-bold-webfont.woff') format('woff');
}

@font-face
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/oxygen-webfont.woff2') format('woff2'), url('../fonts/oxygen-webfont.woff') format('woff');
}

/* ===================================================== *\
 * ----------------------------------------------------- *
 *  Normalize - $$normalize
 * ----------------------------------------------------- *
\* ===================================================== */

html
{
    font-family: sans-serif;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body
{
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary
{
    display: block;
}

audio,
canvas,
progress,
video
{
    display: inline-block;
}

audio:not([controls])
{
    display: none;

    height: 0;
}

progress
{
    vertical-align: baseline;
}

template,
[hidden]
{
    display: none;
}

a
{
    background-color: transparent;

    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover
{
    outline-width: 0;
}

abbr[title]
{
            text-decoration: underline;
            text-decoration: underline dotted;

    border-bottom: none;

    -webkit-text-decoration: underline dotted;
}

b,
strong
{
    font-weight: inherit;
    font-weight: bolder;
}

dfn
{
    font-style: italic;
}

mark
{
    color: #000;
    background-color: #ff0;
}

small
{
    font-size: .75em;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sub
{
    bottom: -.25em;
}

sup
{
    top: -.5em;
}

img
{
    border-style: none;
}

svg:not(:root)
{
    overflow: hidden;
}

code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

figure
{
    margin: 1em 40px;
}

hr
{
    overflow: visible;

    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
}

button,
input,
select,
textarea
{
    font: inherit;

    margin: 0;
}

optgroup
{
    font-weight: bold;
}

button,
input
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit']
{
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner
{
    padding: 0;

    border-style: none;
}

fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}

legend
{
    display: table;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    padding: 0;

    white-space: normal;

    color: inherit;
}

textarea
{
    overflow: auto;
}

[type='checkbox'],
[type='radio']
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

[type='search']
{
    outline-offset: -2px;

    -webkit-appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

::-webkit-input-placeholder
{
    opacity: .54;
    color: inherit;
}

::-webkit-file-upload-button
{
    font: inherit;

    -webkit-appearance: button;
}

::-moz-selection
{
    color: rgb(0, 34, 64);
    background: rgb(204, 221, 237);
    text-shadow: none;
}

::selection
{
    color: rgb(0, 34, 64);
    background: rgb(204, 221, 237);
    text-shadow: none;
}

/* ===================================================== *\
 * ----------------------------------------------------- *
 *  Type - $$type
 * ----------------------------------------------------- *
\* ===================================================== */

html
{
    font-family: sans-serif;
    font-size: 18px;

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    font: 100%/1.4 Arial, Helvetica, sans-serif;

    color: #606060;
    background: #fff;
}

.oxygen-font-loaded body
{
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4,
.alpha,
.beta,
.gamma,
.delta,
form,
table,
hr,
pre,
blockquote
{
    margin: 0 0 20px;
}

h1,
h2,
h3,
h4,
.alpha,
.beta,
.gamma,
.delta
{
    font-weight: 200;
    line-height: 1.2;

    margin-top: 40px;

    color: #0256a3;
}

h1,
.alpha
{
    font-size: 2.25em;
}

h2,
.beta
{
    font-size: 2em;
}

h3,
.gamma
{
    font-size: 1.35em;
}

h4,
.delta
{
    font-size: 1.125em;
}

h5
{
    font-size: .875em;
}

h6
{
    font-size: .75em;
}

ul,
ol,
dl,
menu
{
    margin: 0 0 20px 40px;
    padding: 0;
}

p
{
    font-weight: 200;
}

a
{
    -webkit-transition: .3s ease all;
         -o-transition: .3s ease all;
            transition: .3s ease all;
    text-decoration: none;

    color: #0256a3;
}

a:focus,
a:active,
a:hover
{
    text-decoration: underline;

    outline: 0;
}

strong,
b
{
    font-weight: bold;
}

em,
i
{
    font-style: italic;
}

img
{
    max-width: 100%;
    height: auto;

    -ms-interpolation-mode: bicubic;
    border: 0;
}

svg:not(:root)
{
    overflow: hidden;
}

hr
{
    display: block;

    height: 1px;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

small,
sub,
sup
{
    font-size: 80%;
}

sub,
sup
{
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

table
{
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;
}

td
{
    vertical-align: top;
}

blockquote,
q
{
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after
{
    content: '';
    content: none;
}

blockquote
{
    padding: 20px;

    color: #0256a3;
    border-left: 8px solid;
}

@media screen and (max-width: 767px)
{
    blockquote
    {
        padding: 15px;
    }
}

@media screen and (max-width: 567px)
{
    html
    {
        font-size: 1rem;
    }
}

/* ===================================================== *\
 * ----------------------------------------------------- *
 *  Tools - $$tools
 * ----------------------------------------------------- *
\* ===================================================== */

.hidden,
.tablet-view,
.mobile-view
{
    display: none !important;
    visibility: hidden;
}

.desktop-view
{
    display: block !important;
    visibility: visible;
}

.clearfix::after,
.container::after
{
    display: block;
    clear: both;

    content: '';
}

.browserupgrade
{
    padding: 5px 0;

    text-align: center;

    color: #000;
    background: #ccc;
}

[style*='background-image']
{
    background-position: center;
    background-size: cover;
}

.inlineblock-fix
{
    font-size: 0;
}

.inlineblock-reset
{
    font-size: 1rem;
}

:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:first-child
{
    margin-top: 0;
}

:last-child
{
    margin-bottom: 0;
}

.list--unstyled
{
    margin: 0;

    list-style: none;
}

.skip-nav
{
    line-height: 32px;

    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 0;

    text-align: center;

    color: #fff;
    background: rgba(0, 56, 107, .75);
}

.skip-nav:focus
{
    height: 32px;

    text-decoration: none;

    outline: 1px dotted #000;
}

.icon
{
    display: inline-block;

    width: 1em;
    height: 1em;

    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-phone,
.icon-feed
{
    width: .7861328125em;
}

.icon-linkedin
{
    width: .857421875em;
}

.icon-pinterest
{
    width: .7138671875em;
}

.icon-youtube
{
    width: .857421875em;
}

.icon-houzz
{
    width: .5712890625em;
}

.icon-instagram
{
    width: .857421875em;
}

.icon-google-plus
{
    width: 1.2861328125em;
}

.icon-twitter
{
    width: .9287109375em;
}

.icon-facebook
{
    width: .587890625em;
}

/* ===================================================== *\
 * ----------------------------------------------------- *
 *  Forms - $$forms
 * ----------------------------------------------------- *
\* ===================================================== */

legend
{
    white-space: normal;

    *margin-left: -7px;
}

label
{
    display: block;

    margin: 0 0 4px;
}

input,
textarea,
select,
button,
.button
{
    font: inherit;

    width: 100%;
    height: 42px;
    padding: 0 10px;

    color: #606060;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
}

input:focus,
textarea:focus,
select:focus
{
    border-color: #0256a3;
    outline: 0;
}

input,
textarea
{
    -webkit-appearance: none;
}

select
{
    padding: 0 0 0 5px;
}

textarea
{
    overflow: auto;

    height: 120px;
    padding: 10px;

    resize: vertical;
    vertical-align: top;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'],
.button
{
    cursor: pointer;

    *overflow: visible;
    -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

input[type='radio'],
input[type='checkbox']
{
    width: auto;
    height: auto;
    margin: 0 4px 0 0;
    padding: 0;

    border: none;
}

input[type='radio']
{
    -webkit-appearance: radio;
}

input[type='checkbox']
{
    -webkit-appearance: checkbox;
}

input[type='file']
{
    height: auto;
    height: 32px\9;

    border: none;
    border: 1px solid #ccc\9;
    background: none;
    background: #fff\9;
}

input[type='file']::-ms-value
{
    border: none;
    background: #fff;
}

input[type='search']
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'],
.button
{
    font-weight: 700;
    line-height: 1.2;

    width: auto;
    height: auto;
    padding: .7em 1.5em;

    cursor: pointer;
    -webkit-transition: .3s ease all;
         -o-transition: .3s ease all;
            transition: .3s ease all;
    text-transform: uppercase;

    color: #0256a3;
    border: none;
    border-radius: 20px;
    background: #e7d76c;

    -webkit-appearance: none;
}

.button
{
    display: inline-block;

    text-align: center;
}

button:hover,
html input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover,
.button:hover
{
    text-decoration: none;

    background: #d4c45d;
}

button:focus,
html input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus,
.button:focus
{
    text-decoration: none;
}

button:active,
html input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active,
.button:active
{
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
}

button[disabled],
html input[disabled]
{
    cursor: default;
}

form .list--unstyled
{
    margin: 0 -6px;
}

form .list--unstyled li
{
    margin: 12px 6px;
}

.list--unstyled .form-field--half
{
    float: left;

    width: calc(50% - 12px);
    margin: 6px;
}

.list--unstyled .form-field--third
{
    float: left;

    width: calc(33.3333% - 12px);
    margin: 6px;
}

form .list--unstyled li:first-child,
form .list--unstyled .form-field--half:first-child,
form .list--unstyled .form-field--half:first-child + .form-field--half,
form .list--unstyled .form-field--third:first-child,
form .list--unstyled .form-field--third:first-child + .form-field--third,
form .list--unstyled .form-field--third:first-child + .form-field--third + .form-field--third
{
    margin-top: 0;
}

form .list--unstyled li:last-child,
form .list--unstyled .form-field--half:last-child,
form .list--unstyled li:not(.form-field--half) + .form-field--half:nth-last-child(2),
form .list--unstyled .form-field--third:last-child,
form .list--unstyled li:not(.form-field--third) + .form-field--third:nth-last-child(3),
form .list--unstyled li:not(.form-field--third) + .form-field--third:nth-last-child(3) + .form-field--third:nth-last-child(2)
{
    margin-bottom: 0;
}

.form-field--half + li:not(.form-field--half):not(.form-field--third),
.form-field--third + li:not(.form-field--half):not(.form-field--third)
{
    clear: both;

    margin-top: 0;
    padding-top: 6px;
}

li:not(.form-field--half):not(.form-field--third) + .form-field--half,
li:not(.form-field--half):not(.form-field--third) + .form-field--half + .form-field--half,
li:not(.form-field--half):not(.form-field--third) + .form-field--third,
li:not(.form-field--half):not(.form-field--third) + .form-field--third + .form-field--third,
li:not(.form-field--half):not(.form-field--third) + .form-field--third + .form-field--third + .form-field--third
{
    margin-top: 0;
}

@media screen and (max-width: 567px)
{
    .list--unstyled .form-field--half,
    .list--unstyled .form-field--third
    {
        float: none;

        width: auto;
        margin: 12px 6px;
    }

    .form-field--half + li:not(.form-field--half):not(.form-field--third),
    .form-field--third + li:not(.form-field--half):not(.form-field--third)
    {
        margin-top: 12px;
        padding-top: 0;
    }

    form .list--unstyled .form-field--half:first-child + .form-field--half,
    form .list--unstyled .form-field--third:first-child + .form-field--third,
    form .list--unstyled .form-field--third:first-child + .form-field--third + .form-field--third,
    li:not(.form-field--half):not(.form-field--third) + .form-field--half,
    li:not(.form-field--half):not(.form-field--third) + .form-field--half + .form-field--half,
    li:not(.form-field--half):not(.form-field--third) + .form-field--third,
    li:not(.form-field--half):not(.form-field--third) + .form-field--third + .form-field--third,
    li:not(.form-field--half):not(.form-field--third) + .form-field--third + .form-field--third + .form-field--third
    {
        margin-top: 12px;
    }

    form .list--unstyled li:not(.form-field--half) + .form-field--half:nth-last-child(2),
    form .list--unstyled li:not(.form-field--third) + .form-field--third:nth-last-child(3),
    form .list--unstyled li:not(.form-field--third) + .form-field--third:nth-last-child(3) + .form-field--third:nth-last-child(2)
    {
        margin-bottom: 12px;
    }
}

html
{
    padding: 20px !important;
}
